.App-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.App {
  position: absolute;
  height: 500px;
  width: 320px;
  display: grid;
  place-items: center;
  outline: 1px solid white;
}
