.Card {
  --cardWidth: 80px;
  --cardHeight: 80px;

  width: var(--cardWidth);
  height: var(--cardHeight);
}

.Card--p1 {
  background-color: lightblue;
}

.Card--p2 {
  background-color: lightsalmon;
}

.Card-sides {
  display: inline-grid;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 1rem;
  grid-template-columns: 1.5ch 1.5ch;
  grid-template-areas: "top top" "left right" "bottom bottom";
}

.Card-side {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}

.Card-side--top {
  grid-area: top;
}

.Card-side--right {
  grid-area: right;
}

.Card-side--bottom {
  grid-area: bottom;
}

.Card-side--left {
  grid-area: left;
}
