.Draggable {
  --card-height: 10rem;
  --card-width: 10rem;

  display: flex;
}

.Draggable-content {
  height: var(--card-height);
  width: var(--card-width);
  background-color: hotpink;
  user-select: none;
  cursor: pointer;
}
