.Draggable {
  --card-height: 20rem;
  --card-width: 12rem;

  display: flex;
  perspective: calc(var(--card-height) * 2);
  transform-style: preserve-3d;
}

.Draggable-content {
  height: var(--card-height);
  width: var(--card-width);
  background-color: hotpink;
  user-select: none;
  cursor: pointer;
}
